[tool.poetry]
authors = ["René Filip"]
classifiers = [
  "Programming Language :: Python :: 3",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]
description = "Framework to create your own Signal bots"
exclude = ["tests/"]
keywords = [
  "Signal",
  "Bot",
  "Framework",
  "Home Automation",
]
license = "MIT"
maintainers = ["René Filip"]
name = "signalbot"
readme = "README.md"
repository = "https://github.com/filipre/signalbot"
version = "0.11.0"

[tool.poetry.dependencies]
APScheduler = "3.10.4"
aiohttp = "3.10.5"
python = "3.12.7"
redis = "5.0.8"
websockets = "13.0.1"

[tool.poetry.dev-dependencies]
black = "24.8.0"
flake8 = "7.1.1"
pre-commit = "3.8.0"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
