name: CI Docs

on:
  push:
    branches: [main]
    paths:
      - 'docs/**'    # If the documentation files changed
      - 'mkdocs.yml' # If the MkDocs configuration changed
      - 'uv.lock'    # If the dependencies changed (in case docs dependencies were updated)

  pull_request:
    branches: [main]
    paths:
      - 'docs/**'
      - 'mkdocs.yml'
      - 'uv.lock'

jobs:
  docs:
    name: Build docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: ./.github/workflows/install-uv

      - name: Install dependencies
        run: uv sync --locked --group docs

      - name: Build documentation
        run: uv run mkdocs build --strict
