name: Deploy docs to GitHub pages

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: ./.github/workflows/install-uv

      - name: Install dependencies
        run: uv sync --locked --group docs

      - name: Build and deploy a new version with mike
        run: uv run mike deploy --push --update-aliases $(uv version --short) latest

      # The --push option in the previous step should have already pushed the changes
      # but it seems to fail sometimes, unclear why. This is a workaround to ensure the changes are pushed.
      - name: Push the changes
        run: git push origin gh-pages
