name: Deploy Pull Request Dispatch

on:
  issue_comment:
    types: [created]

permissions: {}

jobs:
  deploy-check:
    permissions:
      contents: write # for executing the repository_dispatch event
      pull-requests: write # for peter-evans/slash-command-dispatch to create PR reaction
    runs-on: ubuntu-latest
    steps:
      - name: Check if user has write access
        uses: actions-cool/check-user-permission@main
        id: checkUser
        with:
          require: "write"

      - name: Trigger the deploy-pr-command workflow and add a reaction to the comment
        if: steps.checkUser.outputs.require-result == 'true'
        id: checkCommand
        uses: peter-evans/slash-command-dispatch@v4
        with:
          commands: |
            deploy
          token: ${{ secrets.GITHUB_TOKEN }}
