name: Release Package

on:
  release:
    types: [published]

jobs:
  ci:
    name: CI
    uses: signalbot-org/signalbot/.github/workflows/ci.yaml@main

  publish-test-pypi:
    name: Publish (test.pypi.org)
    runs-on: ubuntu-latest
    needs: ci
    environment:
      name: test.pypi.org
      url: https://test.pypi.org/project/signalbot/${{ steps.get-version.outputs.package_version }}/
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v3
        with:
          version: latest
      - name: Install dependencies
        run: uv sync --no-dev
      - name: Get Package Version
        id: get-version
        run: echo "{package_version}=$(uv version --short)" >> $GITHUB_OUTPUT
      - name: Build package
        run: uv build
      - name: Publish package
        run: uv publish --index testpypi --token ${{ secrets.API_TOKEN }}

  publish-pypi:
    name: Publish (pypi.org)
    runs-on: ubuntu-latest
    needs: publish-test-pypi
    environment:
      name: pypi.org
      url: https://pypi.org/project/signalbot/${{ steps.get-version.outputs.package_version }}/
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v3
        with:
          version: latest
      - name: Install dependencies
        run: uv sync --no-dev
      - name: Get Package Version
        id: get-version
        run: echo "{package_version}=$(uv version --short)" >> $GITHUB_OUTPUT
      - name: Build package
        run: uv build
      - name: Publish package
        run: uv publish --token ${{ secrets.API_TOKEN }}
